@import "./commons/colors";

.bg-login{
    background: url("/assets/image/bg_logo.png") !important;
    background-size: 100% 100% !important;
}
.max-h-50vh{
    max-height: 50vh;
}
.max-w-50vh{
    max-width: 50vh;
}
.w-54vh{
    width: 54vh;
}
.h-100vh{
    height: 100vh;
}
.w-100vh{
    width: 100vh;
}
