.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
    display: block;
    width: auto;
    overflow: auto;
    height: 90vh;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #ffffff;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #A3326D;
}

.invisible-scrollbar-70{
    display: block;
    width: auto;
    overflow: auto;
    height: 70vh;
}

.invisible-scrollbar-70::-webkit-scrollbar{
    display: none;
}

.invisible-scrollbar::-webkit-scrollbar-track {
    color: transparent;
}
